[buildout]
extends = http://svn.zope.org/repos/main/groktoolkit/trunk/grok.cfg
parts =
    test
develop =
    .
versions = versions
extensions =
    buildout.dumppickedversions
    mr.developer

sources = sources
auto-checkout =
    grokcore.rest

[sources]
grokcore.rest = svn svn://svn.zope.org/repos/main/grokcore.rest/trunk

[versions]

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[test]
recipe = zc.recipe.testrunner
eggs =
    grokcore.traverser
    grokcore.traverser[test]
defaults = ['--tests-pattern', '^f?tests$', '-v']
